.web {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #c300ff;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  margin-top: -40px;
}

.web h1 {
  font-size: 4em;
  font-weight: bold;
  margin: 0;
}

.web p {
  margin-top: 10px;
  color: #c300ff;
}