body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: purple;
}

.text-overlay h1 {
  font-size: 4em;
  font-weight: bold;
  margin: 0;
}

.text-overlay p {
  font-size: 1.5em;
  margin-top: 10px;
  color: #aa00ff;
  color: #93999b;
}
